{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131256787-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-131256787-1');
        </script>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'css/styles.css'%}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 750px)" href="{% static 'css/mobile.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <!-- favicon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>mary gao | portfolio</title>
    </head>

    <body>
        <main role="main" id="main">

          <!-- Create navigation bar on top, modified from https://stackoverflow.com/questions/16392952/css-to-make-bootstrap-navbar-transparent and Bootrap -->
          <nav class="navbar transparent navbar-inverse">
              <a class="navbar transparent navbar-inverse" href="/">mary gao <span class="sr-only">(current)</span></a>
              <div class="navbar transparent navbar-inverse" id="navbarNavAltMarkup">
                  <div class="navbar transparent navbar-inverse">
                    <a class="navbar transparent navbar-inverse" href="#code_gallery">code</a>
                  </div>
              </div>
          </nav>
          <img src="{% static 'img/headshot_grey.png' %}" alt="headshot" class="headshot">
          <div class="content">
                <p>
                   <b>HELLO -</b>
                </p>
                <p>
                  I'm Mary Gao. I study Computer Science and Philosophy at Harvard
                  (2020). I'm here to make the world better (cheesy but true).
                </p>
          </div>
           <!-- from Fontawesome -->
          <div style="text-align: center" >
             <a target="_blank" href="https://www.linkedin.com/in/mary-gao/">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
             </a>
             <a target="_blank" href="https://github.com/maryxgao">
               <i class="fa fa-github" aria-hidden="true"></i>
             </a>
             <a target="_blank" href="https://www.instagram.com/msmarygao/">
               <i class="fa fa-instagram" aria-hidden="true"></i>
             </a>
          </div>
          <div class = "code_gallery" id="code_gallery">
            <!-- Gallery, from https://codepen.io/joe-watkins/pen/RPZbrW/ -->
            <section class="tiles-a">
              <ul>

                <li>
                  <a href="#" style="background: url({% static 'img/cs50.png' %}); background-size: cover;" aria-controls="aside" aria-expanded="false">
                    <div class="details visually-hidden">
                      <img src="{% static 'img/cs50.png' %}" alt="cs50_final_project">
                      <div class="text-copy-wrapper">
                        <h1><b>Web-based Facial Authentication</b></h1>
                        <p>The goal of the project was to create a proof-of-concept
                          for website-based facial authentication. This demo is of a
                          mock HarvardKey login page. Using the computer's webcam,
                          a photo is taken and matched against the Harvard students
                          database (school year 2018-2019). If a match is found,
                          the user "logs into" my.harvard.edu. A user can also
                          register a new photo if they are not already in the database.

                        <p><b>Github: </b>private - to protect student privacy</p>
                        <p><b>Date: </b>November 2018 - December 2018 </p>
                        <p><b>Team members: </b>Matthew Finlayson, Winston Michalak</p>
                        <p><b>Languages: </b>JavaSript, Python, HTML, CSS</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a href="#" style="background: url({% static 'img/cs143.png' %}); background-size: cover;" aria-controls="aside" aria-expanded="false">
                    <div class="details visually-hidden">
                      <img src="{% static 'img/cs143.png' %}" alt="cs143_final_project">
                      <div class="text-copy-wrapper">
                        <h1><b>5G Access Point Optimization at Harvard</b></h1>
                        <p>Motivated by using existing infrastructure from
                        Wi-Fi routers to reduce costs of the eventual installation
                        of 5G access points, fixed placement of 5G APs is
                        contrasted with dynamic, algorithmic placement. The goal was
                        to find optimal 5G AP placement that maximizes the evaluation metrics
                        being median power and median throughput. The approach was to run
                        simulations based on a Harvard dining hall to determine optimal performance
                        given varying scenarios. </p>
                        <p><b>Date: </b>November 2018 - December 2018 </p>
                        <p><b>Team members: </b>Thomas Culp</p>
                        <p><b>Languages: </b>Python</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a href="#" style="background: url({% static 'img/udemyar.png' %}); background-size: cover;" aria-controls="aside" aria-expanded="false">
                    <div class="details visually-hidden">
                      <img src="{% static 'img/udemyar.png' %}" alt="Manhattan">
                      <div class="text-copy-wrapper">
                        <h1>Udemy AR classes</h1>
                        <p>Completed The Complete ARKit Course by Rob Perceval and
                          Rayan Slim and Mastering ARKit for ios by Mohammad Azam
                          through Udemy. Learned skills such as creating and using
                          models, collision detecting, creating planes, applying physics,
                          image detecting and tracking, and integrating coreML.
                          Built 10+ apps throughout the courses.
                        <p><b>Date: </b>December 2018 - January 2019 </p>
                        <p><b>Languages: </b>Swift, Objective-C</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a href="#" style="background: url({% static 'img/chrome-ext.png' %}); background-size: cover;" aria-controls="aside" aria-expanded="false">
                    <div class="details visually-hidden">
                      <img src="{% static 'img/chrome-ext.png' %}" alt="Large bridge">
                      <div class="text-copy-wrapper">
                        <h1>Travel Inspiration Chrome Extension</h1>
                        <p>A chrome extension such that when a new tab is opened,
                          an 3x3 grid of HD photos of a city along with the cheapest
                          flight to that place from where you are currently located. The cities
                          are chosen from a pre-determined array based on cities
                          that I would like to travel to. </p>
                        <p><b>Date: </b>First 1.5 weeks of January 2019 </p>
                        <p><b>Languages: </b>JavaScript, HTML, CSS </p>
                        <p><b>API's: </b>Skyscanner, Unsplash, Lufthansa, Google Geocode</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a href="#" style="background: url({% static 'img/lightgreen.png' %}); background-size: cover;" aria-controls="aside" aria-expanded="false">
                    <div class="details visually-hidden">
                      <img src="{% static 'img/lightgreen.png' %}" alt="Large bridge">
                      <div class="text-copy-wrapper">
                        <h1>Cool Title Here</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex porro tempore, rerum ullam quae rem tenetur officiis eveniet voluptate reprehenderit quibusdam maiores nihil nam, sequi molestias explicabo non quos. Deserunt.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex porro tempore, rerum ullam quae rem tenetur officiis eveniet voluptate reprehenderit quibusdam maiores nihil nam, sequi molestias explicabo non quos. Deserunt.</p>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a href="#" style="background: url({% static 'img/lightorange.png' %}); background-size: cover;" aria-controls="aside" aria-expanded="false">
                    <div class="details visually-hidden">
                      <img src="{% static 'img/lightorange.png' %}" alt="Goat-like animal">
                      <div class="text-copy-wrapper">
                        <h1>Cool Title Here</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex porro tempore, rerum ullam quae rem tenetur officiis eveniet voluptate reprehenderit quibusdam maiores nihil nam, sequi molestias explicabo non quos. Deserunt.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex porro tempore, rerum ullam quae rem tenetur officiis eveniet voluptate reprehenderit quibusdam maiores nihil nam, sequi molestias explicabo non quos. Deserunt.</p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </section>
          </div>
          <footer>
            <p>marygao [at] college [dot] harvard [dot] edu</p>
            <p>&copy 2018 Mary Gao</p>
            <p>All rights reserved.</p>
          </footer>
      </main>
      <aside role="complementary" id="aside" aria-hidden="true" aria-expanded="false">
      	<a href="#" class="close"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/close-white-thin.svg" alt="Close button"><span class="visually-hidden">Return to main content</span></a>
      	<div class="aside--details" tabindex="0" aria-live="polite" aria-atomic="true" aria-label="Image details"></div>
      </aside>
      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/toggleAria.js'></script>
      <script  src="{% static 'js/index.js' %}"></script>

    </body>

</html>
